.flipbook-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: center important;
  align-items: center;
width: 100%;
  height: 100% ;
  border: 1px solid #ddd;
  font-size: 24px;
  background-image: url("../../../public/assets/book-bg.png");
  background-position: center;
  box-sizing: border-box;
  padding: 20px;
  background-size: cover;
}


@media (max-width: 768px) {
  .flipbook-container {
    width: 90%;
    height: 80%; /* Smaller height on smaller screens */
  }

  iframe {
    width: 90%; /* Match flipbook container width */
    height: 350px;
  }
}



